<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- metiendo el css -->
    <link rel="stylesheet" href="/css/index.css">

    <!-- imagenes -->
    <script src="https://kit.fontawesome.com/5cc8ba3ff8.js" crossorigin="anonymous"></script>

    <title>Pet Paradise</title>
</head>
<body>
    <header>
        <div class="encabezado">
            <!-- imagne del logo -->
            <img class="encabezado__logo" src="img/logo-pet-paradise.png" alt="">
            <!-- sitio para la barra de busqueda y el carrito -->
            <div class="encabezado__buscador">                          
                    <input type="text" placeholder="Busccar productos, marcas" >        
                    <i class="fa-solid fa-magnifying-glass"></i>      
            </div>
            <div class="encabezado-carrito">
                <a href="#"><i class="fa-solid fa-cart-shopping carrito-encabezado" ></i></a>
            </div>
        </div>

        <div class="navegacion"> 
         
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Perros</a></li>
                <li><a href="#">Gatos</a></li>
                <li><a href="#">Accesorios</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Ingresar</a></li>
                <li><a href="#">Crear cuenta</a></li>
            </ul>
        </div>

        <div class="barritas"> 
            <i class="fa-solid fa-bars"></i> 
        </div>
    </header>
    <img class="banner" src="img/banner.jpg" alt="banner">

    <main>
        
        <h2>Promociones</h2>
        <section class="contenedor-promocion">
            <article class="promocion"> 
                <img src="/img/img-dog-chow.jpg" alt="imagen producto" >   
                <div class="descripcion-promocion">
                    <p class="precio"> $6.770  </p> 
                    <p class="descuento"> 40% OFF  </p>                    
                </div>
            </article>
            <article class="promocion"> 
                <img src="/img/img-juguete-perro.jpg" alt="imagen producto" >                  
                <div class="descripcion-promocion">
                    <p class="precio"> $6.770 </p> 
                    <p class="descuento"> 40% OFF </p>                    
                </div>
            </article>
            <article class="promocion"> 
                <img src="/img/img-dog-chow.jpg" alt="imagen producto" >                  
                <div class="descripcion-promocion">
                    <p class="precio"> $6.770  </p> 
                    <p class="descuento"> 40% OFF  </p>                    
                </div>
            </article>
            <article class="promocion"> 
                <img src="/img/img-dog-chow.jpg" alt="imagen producto" >     
                <div class="descripcion-promocion">
                    <p class="precio"> $6.770 </p> 
                    <p class="descuento"> 40% OFF  </p> 
                </div>
            </article>
        </section>

        <section>
            <h2>Productos</h2>
            <div class="down-productos">
                <article> 
                    <img src="/img/img-dog-chow.jpg" alt="imagen producto"  >
                    <div class="contenedor_descripcion_producto">
                        <i class="fa-solid fa-cart-shopping"></i><br>
                        <p class="precio"> $6.770  </p> 
                        <p class="descuento"> 40% OFF  </p> 
                        <p class="descripcion"> <b>  nombre x del producto </b>  </p>
                    </div>         
                </article>
                    
                <article>              
                    <img src="/img/img-dog-chow.jpg" alt="imagen producto" >
                    <div class="contenedor_descripcion_producto">
                        <i class="fa-solid fa-cart-shopping"></i><br>
                        <p class="precio"> $230.000  </p>
                        <p class="descuento"> 20% off  </p>
                        <p class="descripcion"> <b>  nombre x del producto </b>  </p>
                    </div>
                </article>
                
                <article>
                    <img src="/img/img-dog-chow.jpg" alt="imagen producto" >
                    <div class="contenedor_descripcion_producto">
                        <i class="fa-solid fa-cart-shopping"></i><br>
                        <p class="precio"> $70.500  </p>
                        <p class="descuento"> 10% off  </p>
                        <p class="descripcion"> <b> nombre x del producto </b>  </p>
                    </div>
                </article>
                
                <article>
                    <img src="/img/img-dog-chow.jpg" alt="imagen producto" >
                    <div class="contenedor_descripcion_producto">
                        <i class="fa-solid fa-cart-shopping"></i><br>
                        <p class="precio"> $23.200  </p>
                        <p class="descuento"> 5% OFF  </p>
                        <p class="descripcion"> <b>  nombre x del producto </b>  </p>
                    </div>
                </article>
            </div>
            
        </section>
        
    </main>
    <br>
    <footer>
        
        <section>
            <i  class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo </h4>
            <p> Con Pet Paradise Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro! </p>
        </section>
        <section>
            <i  class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500 </h4>
            <p> Solo por estar registrad@ en Pet Paradise tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos. </p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin </h4>
            <p> ¿No te gusta? ¡Devolvelo! En Pet Paradise, no hay nada que no puedas hacer,
            porque estás siempre protegid@. </p>
        </section>
        <br>
        <section>
            <p> Copyright © 1999-2020 Pet Paradise S.R.L. </p>
        </section>
    
                        
    </footer>


    </main>

    <footer>

    </footer>
    
</body>
</html>