<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Paradise</title>
      <!-- metiendo el css -->
      <link rel="stylesheet" href="/css/product-details.css">

      <!-- imagenes -->
      <script src="https://kit.fontawesome.com/5cc8ba3ff8.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="encabezado">
            <!-- imagne del logo -->
            <img class="encabezado__logo" src="img/logo-pet-paradise.png" alt="">
            <!-- sitio para la barra de busqueda y el carrito -->
            <div class="encabezado__buscador">                          
                    <input type="text" placeholder="Busccar productos, marcas" >        
                    <i class="fa-solid fa-magnifying-glass"></i>      
            </div>
            <div class="encabezado-carrito">
                <a href="#"><i class="fa-solid fa-cart-shopping carrito-encabezado" ></i></a>
            </div>
        </div>

        <div class="navegacion"> 
         
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Perros</a></li>
                <li><a href="#">Gatos</a></li>
                <li><a href="#">Accesorios</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Ingresar <i class="fa-solid fa-arrow-right-to-bracket li-img"></i></a></li>
                <li><a href="#">Crear cuenta<i class="fa-solid fa-id-card li-img"></i></a></li>
            </ul>
        </div>

        <div class="barritas"> 
            <i class="fa-solid fa-bars"></i> 
        </div>
    </header>

    <main>
        <section >
            <article class="up-flex-container">
                <img src="/img/img-dog-chow.jpg" alt="imagen producto" class="img-details" >
                <div class="contenedor-details">
                    <h2 class="descripcion" > Dog Chow Premium </b> </h2>
                    <p>marca: Dog Chow </p>
                    <p class="precio"> $19.99  </p> 
                    <p class="descuento"> 30% OFF  </p>
                    <p> 1563 <i class="fa-solid fa-thumbs-up"></i></p>
                    <p class="stock ">Stock disponible</p>
                    <form action="resultado.html" method="POST">
                        <label>Cantidad</label>
                          <select name="mes" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                    </form>
                    <p class="cuotas"> 9 cuotas de 2.10 <i class="fa-solid fa-credit-card"></i></p>
                    <button type="submit" class="btn-carrito">Comprar</button> 
                </div>
            </article>

        <section class="info-producto">
            <h2><i class="fa-solid fa-circle-info"></i>Informacion del producto</h2>

            <div class="info-contains"> 
                <article>
                    <h3>Beneficion</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo maiores necessitatib
                        us, cupiditate quas eligendi in enim asperiores odio perferendis repellendus 
                        earum totam veritatis voluptatibus quae, voluptates quis possimus dicta illum.
                    </p>
                </article>
                <article>
                    <h3>Caracteristicas</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo maiores necessitatib
                        us, cupiditate quas eligendi in enim asperiores odio perferendis repellendus 
                        earum totam veritatis voluptatibus quae, voluptates quis possimus dicta illum.
                    </p>
                </article>
                <article>
                    <h3>Descripcion</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo maiores necessitatib
                        us, cupiditate quas eligendi in enim asperiores odio perferendis repellendus 
                        earum totam veritatis voluptatibus quae, voluptates quis possimus dicta illum.
                    </p>
                </article>
            </div>
                <button type="submit" class="btn-carrito">Comprar</button>


        </section>

        </section>
    </main>

    <footer>
        
        <section>
            <i  class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo </h4>
            <p> Con Pet Paradise Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro! </p>
        </section>
        <section>
            <i  class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500 </h4>
            <p> Solo por estar registrad@ en Pet Paradise tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos. </p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin </h4>
            <p> ¿No te gusta? ¡Devolvelo! En Pet Paradise, no hay nada que no puedas hacer,
            porque estás siempre protegid@. </p>
        </section>
        <br>
        <section>
            <p> Copyright © 1999-2020 Pet Paradise S.R.L. </p>
        </section>
    
                        
    </footer>


</body>
</html>