<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Paradise</title>
      <!-- metiendo el css -->
      <link rel="stylesheet" href="/css/index.css">

      <!-- imagenes -->
      <script src="https://kit.fontawesome.com/5cc8ba3ff8.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="encabezado">
            <!-- imagne del logo -->
            <img class="encabezado__logo" src="img/logo-pet-paradise.png" alt="">
            <!-- sitio para la barra de busqueda y el carrito -->
            <div class="encabezado__buscador">                          
                    <input type="text" placeholder="Busccar productos, marcas" >        
                    <i class="fa-solid fa-magnifying-glass"></i>      
            </div>
            <div class="encabezado-carrito">
                <a href="#"><i class="fa-solid fa-cart-shopping carrito-encabezado" ></i></a>
            </div>
        </div>

        <div class="navegacion"> 
         
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Perros</a></li>
                <li><a href="#">Gatos</a></li>
                <li><a href="#">Accesorios</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Ingresar <i class="fa-solid fa-arrow-right-to-bracket li-img"></i></a></li>
                <li><a href="#">Crear cuenta<i class="fa-solid fa-id-card li-img"></i></a></li>
            </ul>
        </div>

        <div class="barritas"> 
            <i class="fa-solid fa-bars"></i> 
        </div>
    </header>

    <main>
        <div class="up-flex-container">
            

        </div>
    </main>



</body>
</html>