:root{
    --azulo: #072CBC;
    --azulm: #0256C4;
    --azulc: #00A1DF;
    --naranjao: #cc4b00;
    --naranjac: #ff9f00;
    --fondo: rgba(235, 235, 235, 0.801);
}
*{
    box-sizing: border-box;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif  ;
}
header{
    background-color: var(--azulc);
    height: 50%;
    width: 100%;
    font-size: 12px;
    padding-bottom: 0px;
}
main{
    background-color: rgba(235, 235, 235, 0.801);
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 5vw;
    padding-bottom: 5%;
    margin-bottom: -18px;
}
.encabezado{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.encabezado__logo{
    width: 25%;
    
}
.encabezado__buscador{
    width: 50%;
}
.encabezado__carrito{
    margin-left: auto;
    margin-right: auto;
}
.carrito-encabezado{
    font-size: 36px;
    border: var(--naranjac) 5px solid;
    border-radius: 50%;
    padding: 15px;
}
.fa-cart-shopping{
   display: block;
    color: var(--naranjac);
   
}
input{
    width: 87%;
}
.navegacion{
    margin-top: 6%;
    display: flex;
    margin-left: auto;  
    margin-right: auto;
}
ul{
    display: none;
    visibility: hidden;
    margin-left: 0%;
    padding-left:0% ;
    margin-left: auto;  
    margin-right: auto;
}
li{
    list-style-type: none;
    display: inline;
    margin-left: 19px;
}
li a{
    text-decoration: none;
    color: black;
}
li a:hover{
    color: var(--naranjao);
    text-decoration: underline;

}
.li-img{
    font-size: 70%;
    color: var(--naranjac);
}
article{
    margin: 10px;
}
img{
    width: 100%;
}
h2{
    text-align: center;
}
footer{
    width: 95%;
    background-color: var(--fondo);
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    text-align: center;
    border-top: white 2px solid ;
    
}
footer > section > h4{
    color: var(--giso);
    margin-bottom: 0px;
    margin-top: 5px;
}
footer > section > p{
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
}
footer > section > i{
    color: var(--naranjao);
    font-size: 37px;
}
main img{
    height: 250px;
}
.promocion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-content: center;
    align-items: flex-start; */
    width: 42%;
    margin-left: auto;  
    margin-right: auto;
    background-color: white;
    
}
.btn-carrito{
    background-color: var(--naranjac);
    color: var(--grisc);
    width: 62%;
    height: 27px;
    border-radius: 5%;
    border: 2px var(--celeste) solid;
    margin-bottom: 7px;
}
.contenedor-promocion{
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid white;
}
.descripcion-promocion{
    border-top: var(--fondo) solid 1px;
    /* height: 40%; */
}
.img-producto{
    /* height: 60%; */
}
.fa-bars{
    background-color:var(--naranjac);
    font-size: 25px;
    text-align: center;
    width: 50px;
    height: 50px;
    padding: 5px;
    padding-top: 15px;
    margin-left:43%;
    margin-top: 15px;
    border-radius: 20%;
}
.precio{
    width: 40%;
    display: inline;
}
.descuento{
    font-size: 60%;
    color: rgb(0, 216, 0);
    display: inline;
    width: 40%;
}
.contenedor_descripcion_producto{
    background-color: white;
    border-top: solid 3px rgb(197, 197, 197) ;
    padding: 15px;
    margin-top: -5px;
}

@media (min-width: 361px){  
    .encabezado{
        flex-wrap: nowrap;
    }
    .fa-cart-shopping{
        font-size: 70px;
    }
    .down-productos{
        display: flex;
        flex-wrap: wrap;
    }
    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 43% ;
        margin-left: auto;
        margin-right: auto;
    }

    ul{
        display: block;
        visibility: visible;
    }
    li{
        font-size:20px ;
    }
    .fa-bars{
        visibility: hidden;

    }
    .barritas{
        display: none;
    }
}
@media (min-width: 769px){
    .encabezado__logo{
        width: 20%;
        
    }
    .navegacion{
        margin-top: 6%;
        display: flex;
        justify-content: space-between;
        margin-left: auto;  
        margin-right: auto;
    }
    ul{
        /* border: var(--naranjac) 2px solid; */
        width: 90%;
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    li{
        font-size: 25px;
        padding: 1%;
    }
    .banner{
        height: 249px;
    }
    h2{
        font-size: 56px ;
    }
    article{
        width: 20%;
        font-size: 30px;
    }
    .promocion{
        width: 20%;
    }
    
}

