:root{
    --azulo: #072CBC;
    --azulm: #0256C4;
    --azulc: #00A1DF;
    --naranjao: #cc4b00;
    --naranjac: #ff9f00;
    --fondo: rgba(235, 235, 235, 0.801);
}
*{
    box-sizing: border-box;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif  ;
}
header{
    background-color: var(--azulc);
    height: 50%;
    width: 100%;
    font-size: 12px;
    padding-bottom: 0px;
}
main{
    background-color: rgba(235, 235, 235, 0.801);
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-size: 5vw;
    padding-bottom: 5%;
    margin-bottom: -18px;
}
.encabezado{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.encabezado__logo{
    width: 25%;
    
}
.encabezado__buscador{
    width: 50%;
}
.encabezado__carrito{
    margin-left: auto;
    margin-right: auto;
}
.carrito-encabezado{
    font-size: 36px;
    border: var(--naranjac) 5px solid;
    border-radius: 50%;
    padding: 15px;
}
.fa-cart-shopping{
   display: block;
    color: var(--naranjac);
   
}
input{
    width: 87%;
}
.navegacion{
    margin-top: 6%;
    display: flex;
    margin-left: auto;  
    margin-right: auto;
}
ul{
    display: none;
    visibility: hidden;
    margin-left: 0%;
    padding-left:0% ;
    margin-left: auto;  
    margin-right: auto;
}
li{
    list-style-type: none;
    display: inline;
    margin-left: 19px;
}
li a{
    text-decoration: none;
    color: black;
}
li a:hover{
    color: var(--naranjao);
    text-decoration: underline;

}
.li-img{
    font-size: 70%;
    color: var(--naranjac);
}
article{
    margin: 10px;
}
img{
    width: 100%;
}
h2{
    text-align: center;
}
footer{
    width: 95%;
    background-color: var(--fondo);
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    text-align: center;
    border-top: white 2px solid ;
    
}
footer > section > h4{
    color: var(--giso);
    margin-bottom: 0px;
    margin-top: 5px;
}
footer > section > p{
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
}
footer > section > i{
    color: var(--naranjao);
    font-size: 37px;
}

.btn-carrito {
    background-color: var(--naranjac);
    color: var(--grisc);
    width: 98%;
    height: 27px;
    border-radius: 5%;
    border: 2px var(--celeste) solid;
    margin-bottom: 7px;
    text-align: center;
}
.fa-bars{
    background-color:var(--naranjac);
    font-size: 25px;
    text-align: center;
    width: 50px;
    height: 50px;
    padding: 5px;
    padding-top: 15px;
    margin-left:43%;
    margin-top: 15px;
    border-radius: 20%;
}
.descuento{
    font-weight: bold;
    color: rgb(0, 216, 0);   
}
.precio{
    font-weight: bold;
}
.descripcion{
    margin-bottom: 20px;
}
.stock{
    margin-bottom: 5px;
    display: block;
    border-top: white solid 3px;
}
.img-details{
    margin-top: 30px;
}
.fa-thumbs-up{
    color: rgb(0, 216, 0);
}
h3{
    text-align: center;
}
p{
    margin-bottom: 20px;
}
form{
    margin-bottom: 20px;
}
.fa-credit-card{
font-size: 80%;
}
.fa-circle-info{
    color: var(--azulc);
    font-size: 80%;
}


@media (min-width: 361px){  
    .encabezado{
        flex-wrap: nowrap;
    }
    .fa-cart-shopping{
        font-size: 70px;
    }
   
    ul{
        display: block;
        visibility: visible;
    }
    li{
        font-size:20px ;
    }
    .fa-bars{
        visibility: hidden;

    }
    .barritas{
        display: none;
    }

    /* main */
    .up-flex-container{
        display: flex;
        justify-content: space-around;
    }
    .img-details{
        width: 45%;
    }
    .contenedor-details{
        width: 45%;
        padding: 5px;

    }
    h2{
        font-size: 33px;
    }
    p{
        font-size: 20px;
    }
    .precio{
        font-size: 25px;
    }
    label{
        font-size: 25px;
    }
    h3{
        font-size: 28px;
        margin-bottom: 15px;
    }
    .info-producto{
        padding: 8px;
    }

}
@media (min-width: 769px){
    .encabezado__logo{
        width: 20%;
        
    }
    .navegacion{
        margin-top: 6%;
        display: flex;
        justify-content: space-between;
        margin-left: auto;  
        margin-right: auto;
    }
    ul{
        /* border: var(--naranjac) 2px solid; */
        width: 90%;
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    li{
        font-size: 25px;
        padding: 1%;
    }
    .info-contains{
        display: flex;

    }

    
}

